<html>
    <head>
        <title>Encontre Ações</title>
    </head>
    <body>
        <div>
            <h1><a href="\">Vamos encontrar ações utilizando a Fórmula Mágica de Joel Greenblatt</a></h1>
        </div>

        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }} </p>
            <h2><a href="">{{ post.title}}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            {{ post }}
        </div>
        {% endfor %}
        

        <p>Esse site vai sair!</p>
        <p>Aguardem...</p>    
    </body>
</html>